<div class="container mt-5">
<header>
  <div class="jumbotron text-center">
        <h1 class="display-4 lead">Welcome!</h1>
      <p class="lead">Vegetable Garden allows you to look up and save information about growing conditions of vegetables relative to your agricultural zone.</p>
      <hr class="my-3">
      <p>Sign up now for quick and easy access to your very own vegetable garden notebook.</p>
      <p class="lead">
        <%= link_to "Sign up!", signup_path, class: "btn btn-outline home-btn btn-lg" %>
      </p>
  </div>
</header>
</div>
