.footer {
  margin-top: 5rem;
  padding-top: 1rem;
  background-color: black;
}

// STYLE CONTACT BOX

.contact-box {
  position: relative;

  &__icon {
    width: 2rem;
    stroke: darkgreen;
    padding-top: 0.5rem;
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;

    &--title {
      color: white;
      text-decoration: none;
      font-size: 1rem;
    }
    
    &--subtitle {
      color: rgb(160, 158, 158);
      text-decoration: none;
      font-size: 0.9rem;
    } 
  }
}

// STYLE SOCIAL MEDIA

.footer-sm {
  a {
    color: white;

    i {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

// STYLE COMPANY INFO

.company-list {
  display: block;
  list-style-type: none;
  position: relative;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: darkgreen;
      }
    }
  }
}

// STYLE COPYRIGHT
.footer-bottom {
  background-color: black;

  &__copyright {
    color: rgb(160, 158, 158);
    font-weight: 400;

    a {
      color: rgb(160, 158, 158);
      text-decoration: none;

      &:hover {
        color: darkgreen;
        text-decoration: underline;
      }
    }
  }

}

// BACK TO TOP BUTTON
.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  background-color: darkgreen;

  i {
    color: white;
    font-size: 1rem;
  }
}

.contact-info {
  margin-left: 6rem;
}