.home-container{
  margin-top: 5rem;
  background-color: black;
  height: 25rem;
}
 
.jumbotron {
  background-image: asset-url('veggies2.jpg');
  background-color: black;
  height: 32rem;
  // padding-bottom: 5rem;
  margin: auto;
  width:max-content;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: 500;
  z-index: 999;

    h1 {
      font-weight: 500;
    }
    
    p {
      font-weight: 500;
    }
}

.home-btn{
  margin-top:1rem;
  color: white;
  border: 3px solid white;

  &:hover {
    color: white;
    transform: translateY(-0.09rem);
  }
}

.jumbotron .home-text {
  padding: 2rem;
}

.info-line {
  margin: auto;
  width: 2rem;
}

.icon:hover {
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.home-section-1 {
  padding-top: 10rem;
}

.home-section-2 {
  background-color: black;
  opacity: 1;
  height: 37rem;
  padding: 3rem;
}

.testimonials {
  position: relative;
  padding: 0;
  // @include gradient;

  .testimonial-heading {
    margin-left: 0;
  }

  &__card {
    background-color: rgba(white, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;

    i {
      font-size: 1.5rem;
      color: rgba(darkgreen, 0.7);
    }

    .ratings {
      i {
        color: rgba(darkgreen, 0.7);
        font-size: 1rem;
      }
    }
  }

  &__name {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: darkgray;

    h3 {
      padding-top: 0.8rem;
      text-transform: capitalize;
    }

    p {
      padding-bottom: 2rem;
      text-transform: capitalize;
    }
  }
}
