.home-container{
  margin-top: 5rem;
  background-color: black;
  height: 25rem;
}
 
.jumbotron {
  background-image: asset-url('veggies2.jpg');
  background-color: black;
  height: 32rem;
  // padding-bottom: 5rem;
  margin: auto;
  width:max-content;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: 500;

    h1 {
      font-weight: 500;
    }
    
    p {
      font-weight: 500;
    }
}

.home-btn{
  margin-top:1rem;
  color: white;
  border: 3px solid white;

  &:hover {
    color: white;
    transform: translateY(-0.09rem);
  }
}

.jumbotron .home-text {
  padding: 2rem;
}

.info-line {
  margin: auto;
  width: 2rem;
}

.icon:hover {
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.home-section-1 {
  padding-top: 10rem;
}

.home-section-2 {
  background-color: darkgreen;
  opacity: 0.7;
  height: 25rem;
}

