.jumbotron {
  background-image: asset-url('veggies2.jpg');
  height: 32rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 0.8;
  font-weight: 500;

    h1 {
      font-weight: 500;
    }
    
    p {
      font-weight: 500;
    }
}

.home-btn{
  margin-top:1rem;
  color: white;
  border: 3px solid white;

  &:hover {
    color: white;
    transform: translateY(-0.09rem);
  }
}