h1 {
  margin: 1em;
}

.delete-link {
  color: red;
}

.edit-link {
  color: darkgreen;
}

.show-link {
  font-weight: 600;
  color: rgb(87, 87, 87);
}

.link:hover {
  color: black;
}

.new-button {
  color: darkgreen;
  border: 2px solid darkgreen;

  &:hover {
    color: darkgreen;
    transform: translateY(-0.1em);
  }
}