

.navbar {
  background-color: black;
  color: white;
  padding:1rem 0;


  .search-bar {
    position: absolute;
    right: 0;
    margin: 1em;

  }
  .search-btn {
    margin-left: 0.5rem;
    color: white;
    background: darkgreen;

    &:hover {
      background-color: black;
      color: white;
      border: 2px solid darkgreen;
    }
  }

  .delete-profile:hover {
   color: red;
  }

  i{
    color: white;
  }

  span.user-border {
    border: 2px solid white;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
  
  .user-menu {
    position: absolute;
    right: 0;
    width: auto;
  }

  .nav-link {
    color: rgb(2, 2, 2);

    // &:hover {
    //   background-color: rgb(232, 226, 226);
    // }
  }

  .username {
    text-decoration: none;
    color:rgb(2, 2, 2);
  }
}
