.navbar {
  background-color: black;
  color: white;
  padding: 1rem 4rem;

  .delete-profile:hover {
   color: red;
  }

  i{
    color: white;
  }

  span.user-border {
    border: 2px solid white;
    float: right;

    &:hover {
      cursor: pointer;
      background-color: darkgray;
    }
  }
  
  .user-menu {
    position: absolute;
    right: 0;
    width: auto;
  }

  .username {
    text-decoration: none;
    color:rgb(2, 2, 2);
  }

  .nav-link {
    color:rgb(2, 2, 2); 
  }
}
