<h1>Vegetables Listing Page</h1>
<div class="col-lg-10">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Vegetable</th>
      <th scope="col">Growing Season</th>
      <th scope="col">Growing Condition</th>
    </tr>
  </thead>
  <tbody>
  <% @veggies.each do |veg|%>
    <tr>
      <td><%= veg.name %></td>
      <td><%= veg.season %></td>
      <td>placeholder</td>
    </tr>
    <% end %>
  </tbody>
</table>
<button class="btn btn-outline-success"><%= link_to 'Add Vegetable', new_vegetable_path%></button>
</div>
