@import 'bootstrap/dist/css/bootstrap';

// IMPORT OTHER STYLESHEETS
@use 'sections/navbar.css';
@use 'sections/index.css';
@use 'sections/navbar.css';


* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-body {
  height: 100vh;
}

.exit {
  border: 2px solid red;
}

  .garden-type-title {
    // border: 2px solid red;
    margin: 5em;
  }