@import 'bootstrap/dist/css/bootstrap';

// IMPORT OTHER STYLESHEETS
@use 'sections/navbar.css';
@use 'sections/index.css';
@use 'sections/navbar.css';


* {
  font-family: 'Montserrat', sans-serif;
}

.yield-body {
  position: relative;
  margin-top: 7rem;

  .yield-body-header {
    padding: 1rem;
    color: darkgray;
  }
}

.exit {
  border: 2px solid red;
}