<h1>Garden Types</h1>

<div class="container">
<% @garden_types.each do |type| %>
  <div class="row justify-content-md-center">
    <div class="col-4 mt-4">
      <div class="card text-center shadow mb-5 rounded">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to type.name, garden_type_path(type), class: "text-success" %>
          </h5>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(type.created_at) %> ago,
            edited <%= time_ago_in_words(type.created_at) %> ago  </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>



